@import "../globals.css";

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__content {
  font-family: "FKGrotesk-Monospaced";
  font-size: 18px;
  line-height: 30px;
  max-width: 600px;
  padding: 24px;
}
