.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 2;
  height: 50px;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__link__item {
  font-size: 24px;
  margin: 0 24px;
  right: 0;
  position: absolute;
}

.header__title {
  font-size: 24px;
}
